<h1>{{title}}</h1>
<p>{{text}}</p>

<p>
	<form action="/" method="post">
		Request: <input type="text" name="town">
		<input type="submit" value="Search">
	</form>
</p> 

<p>
	Address: {{address}} <br />
	Date and time: {{dateAndTime}} <br />
</p>